VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_EXPERIENCE_COLLECTION_ID=your_experience_collection_id
VITE_APPWRITE_PROJECTS_COLLECTION_ID=your_projects_collection_id
VITE_APPWRITE_BUCKET_ID=your_bucket_id
